<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static',filename='styles/diseño.css') }}" rel="stylesheet" type="text/css">
  <div>
    <h3 class="titulo">
      INFORMACIONES
    </h3>
    <h4>
      <p class="subtitulo">En esta seccion encontrarás un breve resumen de las  diferentes entidades del gobierno, las cuales te ayudaran en todo el proceso de meprendimiento </p>
    </h4>
 
      <div class="grid">
        
        <div><a href="https://www.sercotec.cl/">
          <h1>
            Sercotec
          </h1>
          <li>Es un organismo del estado encargado de prestar ayuda a los/las pequeños/as empresarios/as del país, ya sea para el desarrollo como para la gestión de sus negocios.
            También ayudan a estas pequeñas empresas para disminuir el número de desventajas y dificultades que estas tienen en comparación con las grandes empresas
            </li>
          <p>Para visitar la pagina solo haz click en el cuadro</p>
          </div></a>
        
        <div><a href="https://www.corfo.cl">
          <h1>
            Corfo
          </h1>
          <li>Es una agencia del estado la cual se encarga de mejorar la producción y diversificarla, a través de la inversión, innovación y el emprendimiento. 
            también tiene como objetivo mejorar las oportunidades de todas las personas con el fin de contribuir al desarrollo económico de una ciudad e incluso el país.
            </li>
            <p>Para visitar la pagina solo haz click en el cuadro</p>
          </div></a>
        <div><a href="https://homer.sii.cl/">
          <h1>
            SII
          </h1>
          <li>Esta pagina tiene como fin que todas las empresas ya sea pequeñas, medianas o grandes, declaren sus impuestos los cuales son regulados y fiscalizados por esta misma.</li>
          <p>Para visitar la pagina solo haz click en el cuadro</p>
        </div></a>
        <div><a href="https://www.minsal.cl/">
          <h1>
            MINSAL
          </h1>
          <li>En caso de que tengas un local de comida o quieras comenzar con uno, te interesará visitar la página del MINSAL, ya que es este ministerio es el encargado de regular y establecer las diferentes medidas sanitarias que debe tener un local de estas características.</li>
          <p>Para visitar la pagina solo haz click en el cuadro</p>
        </div></a>
        <div><a href="https://www.emprende.cl/">
          <h1>
           Chile emprende
          </h1>
          <li>Esta pagina tiene como objetivo orientar en todas las etapas de emprendimiento a los nuevos emprendedores que se adentran a este mundo, ofreciéndoles apoyo y algunas recomendaciones, por lo que, si eres nuevo en este mundo de los negocios, deberías visitar esta página.</li>
          <p>Para visitar la pagina solo haz click en el cuadro</p>
        </div></a>
        <div><a href="https://www.gob.cl/chileserecupera/">
          <h1>
            Plan paso a paso
          </h1>
          <li>Esta pagina fue creada recientemente por el gobierno de Chile, ya que, en estos tiempos de pandemia, la mayoría de los negocios se vieron afectados económicamente, por lo que aquí encontraras diferentes ayudas económicas para volver a impulsar tu negocio, por lo que si estas pasando un mal momento económico en tu emprendimiento, debes visitar esta página.</li>
          <p>Para visitar la pagina solo haz click en el cuadro</p>
        </div></a>
        <div><a href="https://www.registrodeempresasysociedades.cl/">
          <h1>
            Registro de empresas
          </h1>
          <li>Si tienes pensado abrir una empresa, lo primero que debes hacer es visitar esta página, ya que aquí encontrar todo lo necesario para hacerlo, y además todo es online, para facilitar dicho proceso.</li>
          <p>Para visitar la pagina solo haz click en el cuadro</p>
        </div></a>
         
        <div><a href="prueba.html"> 

          <h2>
            Para volver al menu principal pulsa este cuadro
          </h2>

        </div></a>
      </div>

  </div>  

    </main>
    

   

</body>
</html>


