<!DOCTYPE html>
<link href="{{ url_for('static',filename='styles/barra.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static',filename='styles/form.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static',filename='styles/style.css') }}" rel="stylesheet" type="text/css">
<main class="fondocontainer">
    <h3>
      
     <h333> 
       Resultados cálculo financiero mensual 
     </h333>
      
      <h41>
        <p>Los siguientes cálculos fueron realizados en baso a los datos proporcionados por {{nombre}}, de su emprendimiento.</p>
        <p>Tus gastos totales corresponden a un total de ${{gastototalrespuesta}} clp. </p>
        <p>Tu ganancia real es de ${{gananciarealrespuesta}} clp. </p>
        <p>Pagas en impuesto un total de ${{impuestosrespuesta}} clp todos los meses. </p>
        <p>Tu capacidades ahorro es de ${{capacidadahorrorespuesta}} clp. </p>
        <p>Inviertes en cada unidad de producto ${{inversionporunidadrespuesta}} clp. </p>
        <p>Tu ganancia real por cada unidad es de ${{gananciaporunidadrespuesta}} clp. </p>
        <p>Para alcanzar el objetivo de aumentar tus ventas en un {{porcentajeaumento}}% debes vender {{cuantasunidadesparaobjetivorespuesta}} unidades más, aparte de las {{unidadesvendidas}} que ya vendes todos los meses. </p>
        <p>Para alcanzar este último objetivo, deberás invertir un monto adicional de ${{invertirparaobjrespuesta}} clp en inventario, para poder cubrir el costo de las {{cuantasunidadesparaobjetivorespuesta}} unidades extra. </p>
        <p>Con tu capacidad de ahorro, puedes inyectar un monto total de ${{inversionporcanalrespuesta}} clp a cada canal de venta, para mejorarlas. </p>
        <p>Todos los meses, tu stock aumenta en {{unidadesstockrespuesta}} unidades de productos. </p>
        <p>Si sigues así por 12 meses tu inventario aumentará en {{unidadesstockrespuestapor12meses}} unidades. </p>
        <p>Tu inversión porcentual en relación a tu inversión total en sueldos y honorarios es de {{inversionporcentualensueldos}}%. </p>
        <p>Tu inversión porcentual en relación a tu inversión total en sueldos gastos operacionale es de  {{inversionporcentualenoperaciones}}%. </p>
        <p>Tu inversión porcentual en relación a tu inversión total en sueldos publicidad y marketing es de {{inversionporcentualenpublicidad}}%. </p>
        <p>Tu inversión porcentual en relación a tu inversión total en sueldos inventario es de {{inversionporcentualeninventario}}%. </p>
        
      </h41> 
    
    </h3>
    <input type="button2" value="Volver al Menú principal" onClick="history.go(-2);"> 
    <p>
      <center>contador de visitas<center>
      <center><a title="Contador De Visitas Gratis"> 
        <img style="border: 0px solid; display: inline;" alt="contador de visitas" src="http://www.websmultimedia.com/contador-de-visitas.php?id=306293"></a></center>
    </p>
</main>
